<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script src="/jss/signup.js"></script>
</head>
<body>
<h1>Регистрация</h1>
<form id="signup" action="/signup" method="post">
    <label for="first_name">Имя:</label>
    <input type="text" id="first_name" name="first_name" required><br>

    <label for="last_name">Фамилия:</label>
    <input type="text" id="last_name" name="last_name" required><br>

    <label for="address">:Адрес</label>
    <input type="text" id="address" name="address" required><br>

    <label for="phone">Телефон:</label>
    <input type="tel" id="phone" name="phone" placeholder="+7XXXXXXXXXX" pattern="\+7[0-9]{10}" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Зарегистрироваться</button>
</form>
</body>